<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
}

</style>


<body>

<h4 class="w3-green w3-center" style="width: 350px; margin: 0 auto">Extracción de datos recolectados</h4>

<div>
    <form action="" method="post" role="form">
        {{ form.csrf }}

        <label for="date">Fecha</label>
        <input type="text" id="date" name="date" placeholder="Fecha (AAAA-MM-DD)">

        <label for="time">Hora</label>
        <input type="text" id="time" name="time" placeholder="Hora (HH:MM:SS)">

        <label for="colection">Coleccion</label>
        <select id="colection" name="colection">
            <option value="powerplant">Powerplant</option>
            <option value="ups">UPS</option>
            <option value="generator">Generator</option>
            <option value="commercial_energy">Commercial Energy</option>
            <option value="powerplant_breakers">Breakers</option>
        </select>

        <input type="submit" value="Descargar .CSV">
    </form>
</div>

</body>
</html>
